body {
    background-color: rgb(166, 216, 241)
 }

   .fact-file {
        background-color:rgb(145, 181, 243);
        width: 200px;
        border : 5px solid rgb(3, 141, 255);

        padding: 25px;
        margin: 30px;
  }

   .animal-name{ 
     colour: rgb(237, 146, 204);
     font-size: 40px;
   }
   